<h1>Welcome to Graficolor</h1>
<div id="sorts" class="button-group">  <button class="button waves-effect waves-light btn" data-sort-by="original-order">original order</button>
  <button class="button waves-effect waves-light btn" data-sort-by="hue">hue</button>
  <button class="button waves-effect waves-light btn" data-sort-by="symbol">saturation</button>
  <button class="button waves-effect waves-light btn" data-sort-by="number">value</button>
</div>

<div class="grid main">
  <% @paints.each do |paint| %>
    <div class="grid-item main" style="background-color: #<%= paint[:component1] %>" id="<%= paint[:id] %>">
    <p class='tracker hue'><%= paint.hex_hsv[0] %></p>
    <p class='tracker saturation'><%= paint.hex_hsv[1] %></p>
    <p class='tracker value'><%= paint.hex_hsv[2] %></p>
    <p class='tracker brand'><%= paint.brand_id %></p>
    </div>
  <% end %>
</div>
</div>