<h1>Palettes#new</h1>
<p>Find me in app/views/palettes/new.html.erb</p>


<div class="row">
        <div class="col s12 m12">
          <div class="card grey darken-4">
            <div class="row grey z-depth-0">
              <div id='paint_picks'></div>
              <span class="card-title">Color Choices</span>
            </div>
            <%= render partial: 'shared/showpaints' %>
            <div class="card-action">
              <%= form_for(:palette, :url => newpalette_path) do |f| %>
              <%= f.text_field :name, placeholder: 'Enter a name' %>
              <%= f.text_area :description, placeholder: 'Enter a description' %>
              <%= f.hidden_field :paintchoices, id: "hidden_field" %>
              <%= hidden_field_tag 'selected', 'none'  %><br>
              <%= f.submit 'Save this palette', id: "save_cullurs" %>
              <% end %>
            </div>
          </div>
        </div>
</div>