<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: 'Enter a username' %>
  <%= f.text_field :email, placeholder: 'email@domain.com' %>
  <%= f.password_field :password, placeholder: 'Enter a password'%>
  <%= f.submit "Join Us" %>
<% end %>
